<html>
  <head>
    <title>Page title</title>
    <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico">
    <link rel="stylesheet" href="/css/calenderp.css"
          type="text/css" media="screen" charset="utf-8" />
    <script src="/js/jquery-1.5.2.min.js" type="text/javascript"></script>
    <script src="/js/jquery.json-2.2.min.js" type="text/javascript"></script>
    <script src="/js/calenderp.js" type="text/javascript"></script>
  </head>
  <body>
    <h1 id="title">Page title</h1>
    <div id="content">
      <img src="/images/calenderp.png" alt="hurrr.. CALEN..DEEEERP!" />

      <p class="translate">Here is some content, hello world!</p>
    </div>
  </body>
</html>
