<form id="testing-form">
  <h2>Settings</h2>
  <label for="signed-request">signed_request</label>
  <input type="text" id="signed-request" />

  <label for="facebook-token">Facebook token</label>
  <input type="text" id="facebook-token" />

  <label for="google-token">Google token</label>
  <input type="text" id="google-token" />

  <h2>Tests</h2>
  <input type="submit" id="scrape-birthdays" value="Scrape birthdays from facebook" />
  <input type="submit" id="scrape-events" value="Scrape events from facebook" />

  <input type="submit" id="create-test-calendar" value="Create test calendar and events" />
  <input type="submit" id="full-test" value="Create and populate test calendars from facebook" />

  <h2>Output</h2>
  <textarea id="output" readonly>...</textarea>
</form>
