<html>
<head>
  <link rel="stylesheet" href="/css/lovely.css" type="text/css" media="screen" charset="utf-8" /> 
</head>
<body>
  <img src="/images/calenderp.png" alt="hurrr.. CALEN..DEEEERP!" />

  <p>${l("This application lets you put your friends birthdays into Google Calendar.")}</p>
  <p>${l("Features")}</p>
  <ul>
    <li>${l("Puts your birthdays into Google Calendar.")}</li>
    <li>${l("Puts events you're attending into Google Calendar.")}</li>
    <li>${l("It actually works.")}</li>
  </ul>

  <span class="install"><a href="${install_link}" target="_parent"></a></span>
</body>
</html>
