<html>
<head>
  <link rel="stylesheet" href="/css/lovely.css" type="text/css" media="screen" charset="utf-8" /> 
</head>
<body>
  <img src="/images/calenderp.png" alt="hurrr.. CALEN..DEEEERP!" />

  <h3>${l("Connected to Google")}</h3>
  <p>${l("You're connected to Google calendar, things should start appearing in your calendar soon. (Make sure to refresh your calendar if you don't notice anything.)")}</p>
  
  <h3>Translators needed!</h3>
  <p>Can you speak another language? Help me get this app translated, I could really do with a hand! <a href="https://github.com/kzar/CalenDerp/raw/master/translations.py">Translate these ~20 short phrases</a> and then email them to me at kzar@kzar.co.uk . (Oh and make sure you mention which language it is! hehe). -- Cheers, Dave.</p>
  
  <h3>${l("Current status")}</h3>

  <p><b>${status}</b></p>
</body>
</html>
